## week-01------------------>

In [2]:
a=11
b=a*10
print(c(a,b))
#print(a,b)------------------>error

[1]  11 110

In [3]:
a=11
b<-a*10
print(c(a))
print(c(b))

[1] 11
[1] 110

In [4]:
#single line comments:

###### To clear the environment data and variables

In [5]:
#to clear the environment data and variables
rm(list=ls())
print("all the environment variables have been deleted")

[1] "all the environment variables have been deleted"

In [6]:
print(a)

ERROR: Error in print(a): object 'a' not found

In [7]:
#Data types:-

In [8]:
pi

[1] 3.141593

In [9]:
letters

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s"
[20] "t" "u" "v" "w" "x" "y" "z"

In [10]:
LETTERS

 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S"
[20] "T" "U" "V" "W" "X" "Y" "Z"

In [11]:
month.name

 [1] "January"   "February"  "March"     "April"     "May"       "June"
 [7] "July"      "August"    "September" "October"   "November"  "December"

In [12]:
month.abb

 [1] "Jan" "Feb" "Mar" "Apr" "May" "Jun" "Jul" "Aug" "Sep" "Oct" "Nov" "Dec"

In [27]:
#find data type
typeof(2)

[1] "double"

In [26]:
#find data type
typeof("10-10-2013")

[1] "character"

In [28]:
#verify if object is of certain datatype
is.character("Raushan")

[1] TRUE

In [31]:
is.integer(2)

[1] FALSE

In [32]:
#convert datatype object to another
as.Date("10-10-2013")

[1] "0010-10-20"

In [18]:
is.character(as.Date("10-10-2013"))

[1] FALSE

In [22]:
as.Date("10/10/2013")

[1] "0010-10-20"

In [19]:
is.character(as.Date("10/10/2013"))

[1] FALSE

In [21]:
as.complex(2)

[1] 2+0i

In [25]:
as.numeric("a")

Warning message in eval(expr, envir, enclos):
"NAs introduced by coercion"

[1] NA

* Vector:- Ordered collection of same data type
* List:- Ordered collection of objects
* Data frame:- Generic tabular object----->vvi

In [41]:
#vector:-

x=c(2.3,4.5,8.7,10.0)
print(x)
print(typeof(x))

[1]  2.3  4.5  8.7 10.0
[1] "double"

In [48]:
#list:-

ID=c(1,2,3,4)
print(typeof(ID))
emp.name=c("Rahul","Raj","Rohit","Raushan")
print(typeof(emp.name))
num.emp=4
emp.list=list(ID,emp.name,num.emp)
print(emp.list)

[1] "double"
[1] "character"
[[1]]
[1] 1 2 3 4

[[2]]
[1] "Rahul"   "Raj"     "Rohit"   "Raushan"

[[3]]
[1] 4

In [50]:
ID=c(1,2,3,4)
emp.name=c("Rahul","Raj","Rohit","Raushan")
num.emp=4
emp.list=list("ID"=ID,"Names"=emp.name,"Total staff"=num.emp)
print(emp.list)
print(emp.list$Names)

$ID
[1] 1 2 3 4

$Names
[1] "Rahul"   "Raj"     "Rohit"   "Raushan"

$`Total staff`
[1] 4

[1] "Rahul"   "Raj"     "Rohit"   "Raushan"

In [42]:
me=c(1047,'raushan',20,"17EE139","PEC")
print(me)
print(typeof(me))

[1] "1047"    "raushan" "20"      "17EE139" "PEC"
[1] "character"

In [39]:
me=list('raushan',20,"17EE139","PEC")
print(me)
print(typeof(me))

[[1]]
[1] "raushan"

[[2]]
[1] 20

[[3]]
[1] "17EE139"

[[4]]
[1] "PEC"

[1] "list"