## 4. More on sequence:

### 4.1. String: 

* A string is created by entering text between two single or double quotation marks.

In [4]:
a = "You are too good."
for i in a:
    print(i)

Y
o
u

a
r
e

t
o
o

g
o
o
d
.

In [5]:
# string indexing
print(a[5])

r

In [16]:
# string index out of range
print(a[100])

IndexError: string index out of range

In [17]:
# string slicing
print(a[1:14])

ou are too go

In [20]:
# accessing the last index word.
print(len(a))
print(a[len(a) - 1])

# or
 
print(a[-1])

17
.
.

In [21]:
a[-1:-8:-1]

'.doog o'

In [22]:
# reversing the string.
print(a[::-1])

.doog oot era uoY

In [24]:
print("Raushan"[::-1])

nahsuaR

##### string operation: concatenation

* As with integers and floats, strings in Python can be added, using a process called concatenation, which can be done on any two strings.
* When concatenating strings, it doesn't matter whether they've been created with single or double quotes.

In [26]:
"Raushan" + "kumar"

'Raushankumar'

In [27]:
"Raushan" + " " + "Kumar"

'Raushan Kumar'

* Even if your strings contain numbers, they are still added as strings rather than integers. Adding a string to a number produces an error, as even though they might look similar, they are two different entities.

In [28]:
"25" + "47"

'2547'

In [29]:
 1 + '2' + 3 + '4'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

* Strings can also be multiplied by integers. This produces a repeated version of the original string. The order of the string and the integer doesn't matter, but the string usually comes first.

* Strings can't be multiplied by other strings. Strings also can't be multiplied by floats, even if the floats are whole numbers.

In [30]:
"Hello" * 4

'HelloHelloHelloHello'

In [31]:
4 * "2"

'2222'

In [32]:
 "17" * "5"

TypeError: can't multiply sequence by non-int of type 'str'

In [33]:
"python" * 7.0

TypeError: can't multiply sequence by non-int of type 'float'

In [34]:
"python" * 0

''

In [35]:
# strings are immutable:

s = "Python"
s[4] = "o"

TypeError: 'str' object does not support item assignment

### 4.2. Lists:

* Lists are another type of object in Python. They are used to store an indexed list of items.
* A list is created using square brackets with commas separating items.
* The certain item in the list can be accessed by using its index in square brackets.

In [37]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
# list indexing

l[5]

6

In [39]:
l[-2]

8

In [41]:
length = len(l)

for i in range(length):
    print(l[i])

1
2
3
4
5
6
7
8
9

In [40]:
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9

In [42]:
print(*l)

1 2 3 4 5 6 7 8 9

In [44]:
# list of any type:

lst = ["Hello", 1, True, 2.5, None]
print(*lst)

Hello 1 True 2.5 None

In [45]:
# nested list

lst2 = [1, 2, 3, [4, 5, 6, [1, 8], 47], (1, 5, 7)]
for i in lst2:
    print(i)

1
2
3
[4, 5, 6, [1, 8], 47]
(1, 5, 7)

In [50]:
print(lst2[3])

[4, 5, 6, [1, 8], 47]

In [53]:
lst2[3][3][1]

8

In [54]:
# list slicing:

l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
l[2:8:2]

[2, 4, 6]

* list[start, stop, step]

##### list operations and functions:

In [57]:
nums = [1,2,3]

# list can be added and multiplied in the same way as string.

print(nums + [4,5,6])

print(nums * 4)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

* To check if an item is in a list, the in operator can be used. It returns True if the item occurs one or more times in the list, and False if it doesn't.

In [58]:
words = ["Ram", "Shyam", "Mohan", "sita"]
"spam" in words

False

In [59]:
"Mohan" in words

True

* To check if an item is not in a list, you can use the not operator in one of the following ways:

In [60]:
nums = [1, 2, 3]
print(not 4 in nums)
print(4 not in nums)
print(not 3 in nums)
print(3 not in nums)

True
True
False
False

adding an element in the list:

* Another way of altering lists is using the append method. This adds an item to the end of an existing list.

In [62]:
nums = [1,2,3]
print(nums)
nums.append(4)
print(nums)

[1, 2, 3]
[1, 2, 3, 4]

* The dot before append is there because it is a method of the list class.

In [63]:
# to get the length of the list

len(nums)

4

insert

* The insert method is similar to append, except that it allows you to insert a new item at any position in the list, as opposed to just at the end.

In [64]:
words = ["Python", "fun"]
index = 1
words.insert(index, "is")
print(words)

['Python', 'is', 'fun']

index

* The index method finds the first occurrence of a list item and returns its index.
* If the item isn't in the list, it raises a ValueError.

In [65]:
letters = ['p', 'q', 'r', 's', 'p', 'u']
print(letters.index('r'))
print(letters.index('p'))
print(letters.index('z'))

2
0

ValueError: 'z' is not in list

There are a few more useful functions and methods for lists.
max(list): Returns the list item with the maximum value
min(list): Returns the list item with minimum value
list.count(obj): Returns a count of how many times an item occurs in a list
list.remove(obj): Removes an object from a list
list.reverse(): Reverses objects in a list

In [69]:
l = [1,2,3,4,5,1,1,2,4,3,1]
l.count(1)

4

In [70]:
l.pop()

1

In [71]:
l

[1, 2, 3, 4, 5, 1, 1, 2, 4, 3]

In [72]:
l.reverse()

In [73]:
l

[3, 4, 2, 1, 1, 5, 4, 3, 2, 1]

In [74]:
l.sort()

In [75]:
l

[1, 1, 1, 2, 2, 3, 3, 4, 4, 5]

In [77]:
max(l)

5

In [78]:
min(l)

1

In [79]:
l

[1, 1, 1, 2, 2, 3, 3, 4, 4, 5]

In [80]:
l.remove(5)

In [81]:
l

[1, 1, 1, 2, 2, 3, 3, 4, 4]

In [83]:
sum(l)

21

In [84]:
l1 = [1,2,3]
l2 = [4,5]
l3 = [6,7,8,9]
print(l1, l2, l3)

[1, 2, 3] [4, 5] [6, 7, 8, 9]

In [87]:
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 4, 5, 4, 5]

In [88]:
l2

[4, 5]

In [89]:
l1 = l1 + 4

TypeError: can only concatenate list (not "int") to list

* Often used in conditional statements, all and any take a list as an argument, and return True if all or any (respectively) of their arguments evaluate to True (and False otherwise).
* The function enumerate can be used to iterate through the values and indices of a list simultaneously.

In [133]:
nums = [55, 44, 33, 22, 11]

if all([i > 5 for i in nums]):
    print("All larger than 5")

All larger than 5

In [134]:
if any([i % 2 == 0 for i in nums]):
    print("At least one is even")

At least one is even

In [135]:
for v in enumerate(nums):
    print(v)

(0, 55)
(1, 44)
(2, 33)
(3, 22)
(4, 11)

In [136]:
# zip:

l1 = [1,2,3]
l2 = ["Raj", "Rahul", "Ram"]

for i, j in zip(l1, l2):
    print(i, j)

1 Raj
2 Rahul
3 Ram

### 4.3. Dictionary:

* Dictionaries are data structures used to map arbitrary keys to values.
* Dictionaries can be indexed in the same way as lists, using square brackets containing keys.
* Each element in a dictionary is represented by a key:value pair.

In [90]:
d = dict()
d

{}

* Just like lists, dictionary keys can be assigned to different values.
* However, unlike lists, a new dictionary key can also be assigned a value, not just ones that already exist.

In [118]:
squares = {1: 1, 2: 4, 3: "error", 4: 16,}
squares[8] = 64
squares[3] = 9
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 8: 64}

* To determine whether a key is in a dictionary, you can use in and not in, just as you can for a list.

In [119]:
nums = {
  1: "one",
  2: "two",
  3: "three",
}
print(1 in nums)
print("three" in nums)
print(4 not in nums)

True
False
True

In [116]:
primary = {
  "red": [255, 0, 0], 
  "green": [0, 255, 0], 
  "blue": [0, 0, 255], 
}
primary

{'red': [255, 0, 0], 'green': [0, 255, 0], 'blue': [0, 0, 255]}

In [91]:
d = {"1":"Raushan", "2":"Nikky", "3":"Harikishore", "4":"Ranjeet"}
d

{'1': 'Raushan', '2': 'Nikky', '3': 'Harikishore', '4': 'Ranjeet'}

In [92]:
d["1"]

'Raushan'

In [93]:
d[2]

KeyError: 2

In [94]:
for i in d:
    print(i)

1
2
3
4

In [100]:
d.keys()

dict_keys(['1', '2', '3', '4'])

In [95]:
d.values()

dict_values(['Raushan', 'Nikky', 'Harikishore', 'Ranjeet'])

In [96]:
d.items()

dict_items([('1', 'Raushan'), ('2', 'Nikky'), ('3', 'Harikishore'), ('4', 'Ranjeet')])

In [97]:
for i in d.items():
    print(i)

('1', 'Raushan')
('2', 'Nikky')
('3', 'Harikishore')
('4', 'Ranjeet')

In [98]:
for key, value in d.items():
    print(key, ":", value)

1 : Raushan
2 : Nikky
3 : Harikishore
4 : Ranjeet

In [104]:
d.get("1", "not found")

'Raushan'

In [105]:
d.get("10", "not found")

'not found'

In [107]:
d.pop("4", "not found")

'Ranjeet'

In [108]:
d

{'1': 'Raushan', '2': 'Nikky', '3': 'Harikishore'}

In [109]:
d.popitem()

('3', 'Harikishore')

In [110]:
d

{'1': 'Raushan', '2': 'Nikky'}

In [111]:
# not in order.
d = {"1":"Raushan", "2":"Nikky", "3":"Harikishore", "4":"Ranjeet"}
d

{'1': 'Raushan', '2': 'Nikky', '3': 'Harikishore', '4': 'Ranjeet'}

In [114]:
# A Python program to demonstrate working of OrderedDict 
from collections import OrderedDict 
  
print("This is a Dict:\n") 
d = {} 
d['a'] = 1
d['b'] = 2
d['c'] = 3
d['d'] = 4
  
for key, value in d.items(): 
    print(key, value) 
  
print("\nThis is an Ordered Dict:\n") 
od = OrderedDict() 
od['a'] = 1
od['b'] = 2
od['c'] = 3
od['d'] = 4
  
for key, value in od.items(): 
    print(key, value)

This is a Dict:

a 1
b 2
c 3
d 4

This is an Ordered Dict:

a 1
b 2
c 3
d 4

* Only immutable objects can be used as keys to dictionaries. Immutable objects are those that can't be changed. So far, the only mutable objects you've come across are lists and dictionaries. Trying to use a mutable object as a dictionary key causes a TypeError.

In [117]:
bad_dict = {
  [1, 2, 3]: "one two three", 
}

TypeError: unhashable type: 'list'

### 4.4. Tuple:

* Tuples are very similar to lists, except that they are immutable (they cannot be changed).
Also, they are created using parentheses, rather than square brackets.

In [120]:
words = ("spam", "eggs", "sausages",)

In [122]:
t = ()
print(type(t))

<class 'tuple'>

In [123]:
not_t = (5)
print(not_t)
print(type(not_t))

5
<class 'int'>

In [124]:
tup = (5,)
print(tup)
print(type(tup))

(5,)
<class 'tuple'>

In [131]:
# Tuples can be created without the parentheses, by just separating the values with commas.

my_tup = "one", "two", "three"
print(my_tup)

('one', 'two', 'three')

* Tuples are faster than lists, but they cannot be changed.

In [125]:
#You can access the values in the tuple with their index, just as you did with lists:

tup = ("Hello", "World", "Spam", "eggs")
print(tup[0])

Hello

In [127]:
tup = ("Hello", "World", "Spam", "eggs")
for i in tup:
    print(i)

Hello
World
Spam
eggs

In [128]:
# Trying to reassign a value in a tuple causes a TypeError.

tup[2] = "people"
tup

TypeError: 'tuple' object does not support item assignment

In [129]:
# Like lists and dictionaries, tuples can be nested within each other.

nested_tup = (1, 2, 3, (4, 5, 6), [4, 2, 8])
print(nested_tup)

(1, 2, 3, (4, 5, 6), [4, 2, 8])

In [130]:
nested_tup[4][1]

2

In [138]:
tup = ('Hello', 'World', 'Spam', 'eggs')

In [139]:
tup.index("World")

1

In [140]:
tup.count(2)

0

### 4.5. Set:

* Sets are data structures, similar to lists or dictionaries. They are created using curly braces, or the set function. They share some functionality with lists, such as the use of in to check whether they contain a particular item.

In [142]:
s = set()
type(s)

set

* To create an empty set, you must use set(), as {} creates an empty dictionary.

In [143]:
s = {}
type(s)

dict

In [144]:
s = {1}
type(s)

set

* Sets differ from lists in several ways, but share several list operations such as len.
* They are unordered, which means that they can't be indexed.
* They cannot contain duplicate elements.
* Due to the way they're stored, it's <b>faster</b> to check whether an item is part of a set, rather than part of a list.
* Instead of using <b>append</b> to add to a set, use <b>add</b>.
* The method remove <b>removes</b> a specific element from a set; <b>pop</b> removes an arbitrary element.

In [146]:
num_set = {1,2,3,4,1,1,2,1,2,1,1}
print(num_set)

{1, 2, 3, 4}

In [147]:
print(len(num_set))

4

In [148]:
nums = {1, 2, 1, 3, 1, 4, 5, 6}
print(nums)
nums.add(-7)
nums.remove(3)
print(nums)

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6, -7}

* Sets can be combined using mathematical operations.
* The <b>union</b> operator | combines two sets to form a new one containing items in either.
* The <b>intersection</b> operator & gets items only in both.
* The <b>difference</b> operator - gets items in the first set but not in the second.
* The <b>symmetric difference</b> operator ^ gets items in either set, but not both.

In [149]:
first = {1, 2, 3, 4, 5, 6}
second = {4, 5, 6, 7, 8, 9}

print(first | second)
print(first & second)
print(first - second)
print(second - first)
print(first ^ second)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3, 7, 8, 9}

As we have seen in the previous lessons, Python supports the following data structures: lists, dictionaries, tuples, sets.

When to use a dictionary:
- When you need a logical association between a key:value pair.
- When you need fast lookup for your data, based on a custom key.
- When your data is being constantly modified. Remember, dictionaries are mutable.

When to use the other types:
- Use lists if you have a collection of data that does not need random access. Try to choose lists when you need a simple, iterable collection that is modified frequently.
- Use a set if you need uniqueness for the elements.
- Use tuples when your data cannot change.