In [29]:
s1 = int("A",16)  #converts base16 to base10
s2 = int("100",2)  #convers base2 to base10
print(s1,s2)

10 4

In [30]:
int("102",2)

ValueError: invalid literal for int() with base 2: '102'

In [31]:
print(eval("10+2*3"))

16

In [32]:
d = (("a",1),("b",2),("c",3))
print(dict(d))

{'a': 1, 'b': 2, 'c': 3}

In [33]:
s3 = {1,2,4,1,5}
s3.add(7)
print(s3)
s3 = frozenset(s3)
print(s3)  #no operation

{1, 2, 4, 5, 7}
frozenset({1, 2, 4, 5, 7})

In [34]:
print(chr(125))  #integer to a character
print(ord("a"))  #single char to its integral value
print(hex(15))   #integer to hexadecimal
print(oct(12))   #integer to an octal number
print(bin(4))    #integer to binary
print(type(bin(4)), type(oct(12)))

}
97
0xf
0o14
0b100
<class 'str'> <class 'str'>

In [35]:
9.0//2.5

3.0

##### python bitwise operators

In [36]:
a = 0b0100       #4
b = 0b0111       #7
print(type(a),a)

<class 'int'> 4

In [37]:
print(bin(a & b))

0b100

In [38]:
print(bin(a | b))

0b111

In [39]:
print(bin(a ^ b))

0b11

In [40]:
print(bin(~a), bin(~b))

-0b101 -0b1000

In [41]:
print(bin(~0b1))

-0b10

In [42]:
a = 60 # 60 = 0011 1100
b = 13 # 13 = 0000 1101

print ('a=',a,':',bin(a),'b=',b,':',bin(b))
c = 0

c = a & b; # 12 = 0000 1100
print ("result of AND is ", c,':',bin(c))

c = a | b; # 61 = 0011 1101
print ("result of OR is ", c,':',bin(c))

c = a ^ b; # 49 = 0011 0001
print ("result of EXOR is ", c,':',bin(c))

c = ~a; # -61 = 1100 0011
print ("result of COMPLEMENT is ", c,':',bin(c))

c = a << 2; # 240 = 1111 0000
print ("result of LEFT SHIFT is ", c,':',bin(c))

c = a >> 2; # 15 = 0000 1111
print ("result of RIGHT SHIFT is ", c,':',bin(c))

a= 60 : 0b111100 b= 13 : 0b1101
result of AND is  12 : 0b1100
result of OR is  61 : 0b111101
result of EXOR is  49 : 0b110001
result of COMPLEMENT is  -61 : -0b111101
result of LEFT SHIFT is  240 : 0b11110000
result of RIGHT SHIFT is  15 : 0b1111

In [43]:
a = 60 # 60 = 0011 1100
b = a << 6
print(bin(b),"<------->",b)
c = a >> 3
print(bin(c),"<------->",c)

0b111100000000 <-------> 3840
0b111 <-------> 7

In [44]:
#python membership operator:----> in ; not in

###### python identity operator

is----------->Evaluates to true if the variables on
either side of the operator point to the
same object and false otherwise.
x is y, here is results
in 1 if id(x) equals
id(y).

In [45]:
x = 4
y = 4
print(x is y)  
print(x is not y)
print(id(x), id(y))

True
False
1529965408 1529965408

In [46]:
l1 = [1,2]
l2 = [1,2]
l1 is l2

False

In [47]:
var = 100
if ( var == 100 ) : print ("Value of expression is 100")

Value of expression is 100

###### Using else Statement with Loops

In [48]:
count = 0
while count < 5:
    print (count, "< 5")
    count = count + 1
else:
    print (count, " is not less than 5")

0 < 5
1 < 5
2 < 5
3 < 5
4 < 5
5  is not less than 5

In [49]:
i = 0
while(i<10):
    if(i==6):
        print("loop breaks")
        break
    i += 1
else:
    print("loop complete")

loop breaks

In [50]:
i = 0
while(i<5):
    if(i==6):
        print("loop breaks")
        break
    i += 1
else:
    print("loop complete")

loop complete

In [51]:
for i in range(10):
    if i==6:
        print("loop breaks")
        break
else:
    print("loop complete")

loop breaks

In [52]:
for i in range(5):
    if i==6:
        print("loop breaks")
        break
else:
    print("loop complete")

loop complete

###### Iterator and Generator

In [53]:
list=[1,2,3,4]
it = iter(list) # this builds an iterator object
print (next(it)) #prints next available element in iterator
for x in it:
    print (x, end=" ")
# or using next() function
while True:
    try:
        print (next(it))
    except StopIteration:
        print("Iteration over")
        break

1
2 3 4 Iteration over

In [54]:
def fibonacci(n): #generator function
    a, b, counter = 0, 1, 0
    while True:
        if (counter > n):
            return
        yield a
        a, b = b, a + b
        counter += 1
        
f = fibonacci(10) #f is iterator object
while True:
    try:
        print (next(f), end=" ")
    except StopIteration:
        print("Stops")
        break

0 1 1 2 3 5 8 13 21 34 55 Stops

#### Numbers

In [55]:
var1 = 10
var2 = 12
del var2
print(var1)
try:
    print(var2)
except:
    print("var2 deleted")

10
var2 deleted

In [56]:
f1 = 2.5e2
print(f1)

250.0

In [57]:
n = 0xA0F   #hexadecimal
print(type(n),n)

<class 'int'> 2575

###### functions

In [58]:
import math
math.ceil(-12.2),math.ceil(12.2)

(-12, 13)

In [59]:
import math
math.exp(0)

1.0

In [60]:
abs(3+4j)

5.0

In [61]:
abs(5)       # returns a/q to num.

5

In [62]:
import math
math.fabs(4) # always returns float

4.0

In [63]:
x= 5.2
y = 5.2
id(x), id(y), x is y

(2405077915640, 2405077915712, False)

In [64]:
x = 10.0
y = 10
x is y, x==y

(False, True)

In [65]:
x = 10
y = 10
x is y, x==y

(True, True)

In [66]:
math.floor(5.2), math.floor(-5.2)

(5, -6)

In [67]:
math.log(math.e)   #base of log is e

1.0

In [68]:
math.log10(10)     #base of log is 10

1.0

In [69]:
math.modf(100.12), math.modf(119)  #fractional, integer as tuple

((0.12000000000000455, 100.0), (0.0, 119.0))

In [70]:
math.pow(4,3), 4**3   #see the difference

(64.0, 64)

In [71]:
round(5.2355,3)

5.236

In [72]:
math.sqrt(16), 16**0.5

(4.0, 4.0)

##### seed()

In [73]:
import random
random.seed()
print ("random number with default seed", random.random())

random number with default seed 0.3289493341556067

In [74]:
random.seed(10)
print ("random number with int seed", random.random())

random number with int seed 0.5714025946899135

In [75]:
random.seed(10)
print ("random number with int seed", random.random())

random number with int seed 0.5714025946899135

In [76]:
random.seed("hello",2)
print ("random number with string seed", random.random())

random number with string seed 0.3537754404730722

In [77]:
random.seed("hello",2)
print ("random number with string seed", random.random())

random number with string seed 0.3537754404730722

###### shuffle()

In [78]:
import random
l = [1,2,3,4,5]
print(random.shuffle(l))
print(l)

None
[3, 2, 4, 1, 5]

###### uniform()

In [84]:
random.uniform(2,4),random.uniform(2,4)  # x <=r < y

(3.027591978326042, 3.9538512071821)

##### trigonometric functions

In [85]:
import math
math.acos(-1)    # cos inverse of -1 in radian

3.141592653589793

In [86]:
math.degrees(math.acos(-1))   # cos inverse of -1 in degrees

180.0

In [87]:
# math.atan2()-------------> tan(y/x)

In [88]:
math.atan2(-0.50, -0.50)   #doubt

-2.356194490192345

In [92]:
math.atan(1.0)

0.7853981633974483

In [93]:
math.atan2(0.50,0.50)

0.7853981633974483

In [94]:
-0.50/-0.50

1.0

In [95]:
math.cos(math.pi)   #return in radian

-1.0

In [96]:
math.hypot(3,4)    # sqrt(x**2 + y**2)

5.0

In [97]:
math.degrees(math.pi)

180.0

In [98]:
math.radians(90)

1.5707963267948966

#### Strings

In [99]:
s1 = "hello"
s1 += " world!"
print(s1)

hello world!

###### string formatting

In [100]:
print("My name is %s and weight is %d kg!" % ('Zara', 21))

My name is Zara and weight is 21 kg!

###### raw-string

In [101]:
print('C:\\nowhere')   #simple unicode string

C:\nowhere

In [102]:
print(r"C:\\nowhere")   #raw-string

C:\\nowhere

###### Built-in string methods

In [103]:
# capitalize() method:-
str = "raushan kumar"
print ("str.capitalize() : ", str.capitalize())

str.capitalize() :  Raushan kumar

In [104]:
# String center() Method:-str.center(width[, fillchar])
str1 = "raushan kumar"
print ("str1.center(20, '$') : ", str1.center(20, '$'))

str1.center(20, '$') :  $$$raushan kumar$$$$

In [105]:
# str.count(sub, start=0, end=len(str))
str="this is a bahot bada bhak hai."
sub='i'
print ("str.count('i') : ", str.count(sub))
print ("str.count('i', 4, 40) : ", str.count(sub,4,40))

str.count('i') :  3
str.count('i', 4, 40) :  2

In [106]:
import base64
Str = "raushan"
Str=base64.b64encode(Str.encode('utf-8',errors='strict'))
print ("Encoded String: " , Str)

Encoded String:  b'cmF1c2hhbg=='

In [107]:
Str='this is string example....wow!!!'
suffix='!!'
print (Str.endswith(suffix))
print (Str.endswith(suffix,20))
suffix='exam'
print (Str.endswith(suffix))
print (Str.endswith(suffix, 0, 19))

True
True
False
True

In [108]:
str = "this is\tstring example....wow!!!"
print ("Original string: " + str)
print ("Defualt exapanded tab: " + str.expandtabs())
print ("Double exapanded tab: " + str.expandtabs(16))

Original string: this is	string example....wow!!!
Defualt exapanded tab: this is string example....wow!!!
Double exapanded tab: this is         string example....wow!!!

In [109]:
str1 = "this is string example....wow!!!"
str2 = "is";
print (str1.find(str2))
print (str1.find(str2, 10))
print (str1.find(str2, 40))

2
-1
-1

String index() Method--------------â€‹> same as find() but raises exception if not found.

* str.isalnum()
* str.isalpha()
* str.isdigit()
* str.islower()
* str.isnumeric()
* str.isspace()
* str.istitle()
* str.isupper()
* str.join(sequence)
* str.ljust(width[,fillchar])
* str.rjust(width[,fillchar])
* str.lstrip([char])
* str.rstrip([char])
* str.maketrans(intab, outtab]);
* str.replace(old, new[, max])
* str.rfind(str, beg=0 end=len(string)) true or -1
* str.rindex(str, beg=0 end=len(string)) true or raise exception
* str.split(str="", num=string.count(str))
* str.splitlines( num=string.count('\n'))
* str.strip([chars])
* str.swapcase()
* str.translate(table[, deletechars]);
* str.zfill(width)
* str.isdecimal()

In [110]:
s = "   "
print(s.isspace())

True

In [111]:
str = "This Is String Example...Wow!!!"
print (str.istitle())
str = "This is string example....wow!!!"
print (str.istitle())

True
False

In [112]:
s = "-"
seq = ["a", "b", "c"] # This is sequence of strings.
print (s.join( seq ))

a-b-c

In [113]:
print(seq.join("."))

AttributeError: 'list' object has no attribute 'join'

In [114]:
str = "this is string example....wow!!!"
print(str.ljust(50, '*'))

this is string example....wow!!!******************

In [115]:
str = "this is string example....wow!!!"
print(str.rjust(50, '*'))

******************this is string example....wow!!!

In [116]:
str = "     this is string example....wow!!!"
print (str.lstrip())
str = "*****this is string example....wow!!!*****"
print (str.lstrip('*'))

this is string example....wow!!!
this is string example....wow!!!*****

In [117]:
str = "     this is string example....wow!!!    "
print (str.rstrip())
str = "*****this is string example....wow!!!*****"
print (str.rstrip('*'))

     this is string example....wow!!!
*****this is string example....wow!!!

In [118]:
intab = "aeiou"
outtab = "12345"
trantab = str.maketrans(intab, outtab)
str = "this is string example....wow!!!"
print (str.translate(trantab))

th3s 3s str3ng 2x1mpl2....w4w!!!

In [119]:
str = "this is string example....wow!!! this is really string"
print (str.replace("is", "was"))
print (str.replace("is", "was", 3))

thwas was string example....wow!!! thwas was really string
thwas was string example....wow!!! thwas is really string

In [120]:
str1 = "this is really a string example....wow!!!"
str2 = "is"
print (str1.rfind(str2))
print (str1.rfind(str2, 0, 10))
print (str1.rfind(str2, 10, 0))
print (str1.find(str2))
print (str1.find(str2, 0, 10))
print (str1.find(str2, 10, 0))

5
5
-1
2
2
-1

In [121]:
str = "this is string example....wow!!!"
print (str.split( ))
print (str.split('i',1))
print (str.split('w'))

['this', 'is', 'string', 'example....wow!!!']
['th', 's is string example....wow!!!']
['this is string example....', 'o', '!!!']

In [122]:
str = "this is \nstring example....\nwow!!!"
print (str.splitlines( ))
print(str.split("\n"))

['this is ', 'string example....', 'wow!!!']
['this is ', 'string example....', 'wow!!!']

In [123]:
str = "*****this is string example....wow!!!*****"
print (str.strip( '*' ))

this is string example....wow!!!

In [124]:
str = "this is string example....wow!!!"
print ("str.zfill : ",str.zfill(40))
print ("str.zfill : ",str.zfill(50))

str.zfill :  00000000this is string example....wow!!!
str.zfill :  000000000000000000this is string example....wow!!!

In [125]:
str = "this2016"
print (str.isdecimal())
str = "23443434"
print (str.isdecimal())

False
True

#### Lists---------->

Difference between method and function
* Method:-> list.append()
* Function:-> max(list)

In [3]:
l = [1,2,3,4,5]
t = (6,7,8)
print(l.extend(t))   #list.extend(seq)
print(l)

None
[1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
list1 = ['physics', 'chemistry', 'maths']
list1.insert(1, 'Biology')
print ('Final list : ', list1)

Final list :  ['physics', 'Biology', 'chemistry', 'maths']

In [9]:
l = ["a","b","c","d","e"]
print(l.pop(2))
print(l.pop())
print(l)

c
e
['a', 'b', 'd']

In [13]:
l = ["a", "b", "c", "d", "e", "c"]
print(l.remove("c"))
print(l)

None
['a', 'b', 'd', 'e', 'c']

In [15]:
l = [1,0,5,1,18,3,8,12,6]
l.sort(reverse = True)
print(l)

[18, 12, 8, 6, 5, 3, 1, 1, 0]

#### Tuples:->>>>

In [16]:
t = (1,2,3)
t += (4,5,6)
print(t)

(1, 2, 3, 4, 5, 6)

In [18]:
("Hi!",) * 4

('Hi!', 'Hi!', 'Hi!', 'Hi!')

In [19]:
("Hi!") * 4

'Hi!Hi!Hi!Hi!'

#### Dictionary:->>>>

In [22]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict['Name'] # remove entry with key 'Name'
print(dict)
dict.clear() # remove all entries in dict
print(dict)
del dict # delete entire dictionary
print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

{'Age': 7, 'Class': 'First'}
{}

TypeError: 'type' object is not subscriptable

In [25]:
dict = {'Name': 'Manni', 'Age': 7, 'Class': 'First'}
print(dict)
print(str(dict))

{'Name': 'Manni', 'Age': 7, 'Class': 'First'}
{'Name': 'Manni', 'Age': 7, 'Class': 'First'}

In [29]:
dict1 = {'Name': 'Manni', 'Age': 7, 'Class': 'First'}
dict2 = dict1.copy()
print ("New Dictionary : ",dict2)
dict1["Name"] = "Raju"
print("Dict1 is : ", dict1)
print("Dict2 is : ", dict2)

New Dictionary :  {'Name': 'Manni', 'Age': 7, 'Class': 'First'}
Dict1 is :  {'Name': 'Raju', 'Age': 7, 'Class': 'First'}
Dict2 is :  {'Name': 'Manni', 'Age': 7, 'Class': 'First'}

In [30]:
dict1 = {'Name': 'Manni', 'Age': 7, 'Class': 'First'}
dict2 = dict1
print ("New Dictionary : ",dict2)
dict1["Name"] = "Raju"
print("Dict1 is : ", dict1)
print("Dict2 is : ", dict2)

New Dictionary :  {'Name': 'Manni', 'Age': 7, 'Class': 'First'}
Dict1 is :  {'Name': 'Raju', 'Age': 7, 'Class': 'First'}
Dict2 is :  {'Name': 'Raju', 'Age': 7, 'Class': 'First'}

In [32]:
seq = ('name', 'age', 'sex')
d = dict.fromkeys(seq)
print ("New Dictionary : %s" %str(d))
d = dict.fromkeys(seq, 10)
print ("New Dictionary : %s" %str(d))

New Dictionary : {'name': None, 'age': None, 'sex': None}
New Dictionary : {'name': 10, 'age': 10, 'sex': 10}

In [33]:
seq = ("name", "age", "sex")
data = ("Rahul", 20, "M")
d = dict.fromkeys(seq, data)
print(d)

{'name': ('Rahul', 20, 'M'), 'age': ('Rahul', 20, 'M'), 'sex': ('Rahul', 20, 'M')}

In [36]:
seq = ("name", "age", "sex")
data = ["Rahul", 20, "M"]
d = dict.fromkeys(seq, (10,20,14))
print(d)

{'name': (10, 20, 14), 'age': (10, 20, 14), 'sex': (10, 20, 14)}

In [4]:
dict = {'Name': 'Zara', 'Age': 27}
print ("Value : %s" % dict.get('Age'))
print ("Value : %s" % dict.get('Sex', "NA"))
print(dict)

Value : 27
Value : NA
{'Name': 'Zara', 'Age': 27}

In [3]:
dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" %dict.setdefault('Age', None))
print ("Value : %s" %dict.setdefault('Sex', None))
print (dict)

Value : 7
Value : None
{'Name': 'Zara', 'Age': 7, 'Sex': None}

In [6]:
dict1 = {'Name': 'Zara', 'Age': 7}
dict2 = {'Sex': 'female' }
dict1.update(dict2)
print ("updated dict : ", dict1)
print ("dict2 : ", dict2)

updated dict :  {'Name': 'Zara', 'Age': 7, 'Sex': 'female'}
dict2 :  {'Sex': 'female'}

#### Date & Time :->>>>>

In [1]:
import time
ticks = time.time()
print ("Number of ticks since 12:00am, January 1, 1970:", ticks)

Number of ticks since 12:00am, January 1, 1970: 1567523760.9882116

In [2]:
y = ticks/(60*60*24*365)
y

49.70585239054451

In [3]:
1970 + y

2019.7058523905446

In [18]:
#time tuple
import time
print(time.localtime())
print(tuple(time.localtime()))

time.struct_time(tm_year=2019, tm_mon=9, tm_mday=3, tm_hour=20, tm_min=59, tm_sec=44, tm_wday=1, tm_yday=246, tm_isdst=0)
(2019, 9, 3, 20, 59, 44, 1, 246, 0)

In [19]:
# Getting current time
import time
localtime = time.localtime(time.time())
print("Local current time : ", localtime)

Local current time :  time.struct_time(tm_year=2019, tm_mon=9, tm_mday=3, tm_hour=20, tm_min=59, tm_sec=44, tm_wday=1, tm_yday=246, tm_isdst=0)

In [6]:
l = time.localtime(12546199119.1245)
l

time.struct_time(tm_year=2367, tm_mon=7, tm_mday=29, tm_hour=20, tm_min=48, tm_sec=39, tm_wday=5, tm_yday=210, tm_isdst=0)

In [7]:
# Getting formatted time
import time
localtime = time.asctime( time.localtime(time.time()) )
print ("Local current time :", localtime)

Local current time : Tue Sep  3 20:46:15 2019

In [8]:
# getting calendar for a month
import calendar
cal = calendar.month(2019, 9)
print (cal)
print(type(cal))

   September 2019
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

<class 'str'>

In [9]:
import time
print ("time.altzone : ", time.altzone)

time.altzone :  -23400

In [10]:
import time
t = time.localtime()   
print(t,"\n")
print ("asctime : ",time.asctime(t))

time.struct_time(tm_year=2019, tm_mon=9, tm_mday=3, tm_hour=20, tm_min=46, tm_sec=20, tm_wday=1, tm_yday=246, tm_isdst=0)

asctime :  Tue Sep  3 20:46:20 2019

In [11]:
time.clock()

5.688880798036198e-07

In [12]:
import time
def procedure():
    time.sleep(2.5)
# measure process time
t0 = time.clock()
procedure()
print (time.clock() - t0, "seconds process time")
# measure wall time
t0 = time.time()
procedure()
print (time.time() - t0, "seconds wall time")

2.500224995235562 seconds process time
2.500840663909912 seconds wall time

In [17]:
time.time(),time.clock()

(1567523807.4364994, 27.06306124364623)

In [20]:
import time
print("ctime : ", time.ctime())

ctime :  Tue Sep  3 21:02:40 2019

In [22]:
time.ctime(12546199119.1245)

'Sat Jul 29 20:48:39 2367'